# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\chend\OneDrive - Hong Kong Baptist University\Course Files\2021_SEM1\COMP3015\Project\FileShare\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
